<h1>Filter Vehicles by Maximum Price</h1>

<form method="get" action="/inv/filter-price">
  <label for="maxPrice">Maximum Price:</label>
  <input type="number" id="maxPrice" name="maxPrice" required>
  <button type="submit">Search</button>
</form>

<% if (message) { %>
  <p><%= message %></p>
<% } %>

<% if (vehicles.length) { %>
  <table>
    <thead>
      <tr>
        <th>Make</th>
        <th>Model</th>
        <th>Year</th>
        <th>Price</th>
      </tr>
    </thead>
    <tbody>
      <% vehicles.forEach(vehicle => { %>
        <tr>
          <td><%= vehicle.inv_make %></td>
          <td><%= vehicle.inv_model %></td>
          <td><%= vehicle.inv_year %></td>
          <td><%= vehicle.inv_price %></td>
        </tr>
      <% }) %>
    </tbody>
  </table>
<% } %>
